<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<body>
  <%= site_bar -%>
  <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
  <div class="wrapper">
    <div class="container">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <%= render 'refinery/header' %>
          </div>
        </div>
      </div><!-- end navbar -->
      <% if @page.images.any? %>
        <div class="row-fluid slide">
          <div class="span12">
            <div id="myCarousel" class="carousel slide">
              <div class="carousel-inner">
                <% @page.images.each do |image| %>
                  <div class="item">
                    <img alt="" src="<%= image.url %>">
                  </div>
                <% end %>
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
            </div>
          </div>
        </div><!-- end slide -->
      <% end %>

      <div id="main-container">
        <%= yield %>
      </div>
    </div><!-- end container -->
  </div><!-- end wrapper -->

  <%= render 'refinery/footer' %>
  <%= render '/refinery/javascripts' %>
  <script>$('.carousel').carousel({interval: 2000})</script>
  <script>
    $.ajaxSetup({
      beforeSend: function(xhr) {
        this.url = '/<%= Refinery::I18n.current_frontend_locale %>' + this.url;
        return xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
    });
  </script>
</body>
</html>
